ADPassMon.xcodeproj/project.xcworkspace/xcuserdata/btoms.xcuserdatad/UserInterfaceState.xcuserstate
ADPassMon.xcodeproj/project.xcworkspace/xcuserdata/bukowinskip.xcuserdatad/UserInterfaceState.xcuserstate

**/*.xccheckout
**/*.xcuserstate
